main {
    margin: 0;
    padding: 0;
}

main h2 {
    font-weight: 800;
    font-size: 52px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 26px;
    margin: 0;
}
.description {

}
.description h3 {
    margin: 0;
    padding-top: 10px;
}
.skills {

}
.skills h4 {
    margin: 0;
    font-size: 38px;
    margin-bottom: 40px;
}
.skills h5 {
    font-size: 24px;
    margin: 0;
    margin-left: 50px;
}
.skills ul {
    margin: 0;
    padding: 0;
    margin-left: 60px;
    padding: 20px;
    list-style: none;
    display: block;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}
.skills li::before {
    content: " ";
    display: inline-block;
    margin-right: 10px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/4511/4511956.png);
    background-size: 20px;
    filter: invert(37%) sepia(95%) saturate(543%) hue-rotate(116deg) brightness(98%) contrast(96%);
    height: 20px;
    width: 20px;

}
.skills li {
    display: flex;
    align-items: center;
}

.frontend {
    

}
.backend {

}
