main {
    margin: 0;
    margin-top: 30px;
    padding: 0;
}

main h2 {
    padding: 0;
    font-weight: 600;
    font-size: 52px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    margin: 0;
}

.description h3 {
    margin: 0;
    padding-top: 10px;
    font-weight: 500;
    font-size: 22px;
    color: #525252;
}

.darkMode .description h3 {
    color: #d4d4d8;
}

.description p {
    position: relative;
}

.beer {
    display: inline-flex;
    width: 140px;
    height: 20px;
    box-sizing: border-box;
}

.beer:has(img) {
    justify-content: center;
    gap: 10px;
}

.beerIcon {
    display: inline;
    height: 20px;
}

.skills {}

.skills h4 {
    margin: 0;
    font-size: 38px;
    margin-bottom: 40px;
}

.skills h5 {
    font-size: 24px;
    margin: 0;
    margin-left: 50px;
}

.skills ul {
    margin: 0;
    padding: 0;
    margin-left: 60px;
    padding: 20px;
    list-style: none;
    display: block;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.skills li::before {
    content: " ";
    display: inline-block;
    margin-right: 10px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/4511/4511956.png);
    background-size: 20px;
    filter: invert(37%) sepia(95%) saturate(543%) hue-rotate(116deg) brightness(98%) contrast(96%);
    height: 20px;
    width: 20px;

}

.skills li {
    display: flex;
    align-items: center;
}
main button {
    border: 0;
    display: flex;
    align-items: center;
    background-color: #059669;
    color: white;
    padding: 16px;
    margin-bottom: 30px;
    max-width: 230px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
main a {
    text-decoration: none;
}
main button span {
    font-size: 35px;
    padding-bottom: 10px;
    margin: 0;

}
main button:hover {
    cursor: pointer;
}

@media (width <= 750px) {
    .skills h4 {
        margin: 0;
        font-size: 38px;
        margin-bottom: 20px;
    }
    .skills h5 {
        margin-left: 20px;
    }
    .skills ul {
        margin-left: 36px;
    }
}