.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
}
.app h2 {
  font-size: 24px;
}
.blueBackground {
  background-color: #0891b2;
  width: 100vw;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 56%, 0 100%);

}



