footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #059669;
    margin-top: 50px;
    margin-bottom: 50px;
}
ul {
    list-style: none;
    padding: 0;
    padding-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
footer img {
    height: 30px;
    width: 30px;
}
.darkMode footer img {
    filter: invert(100%) sepia(9%) saturate(0%) hue-rotate(155deg) brightness(111%) contrast(100%);
}

.darkMode footer img:hover {
    cursor: pointer;
    filter: invert(30%) sepia(22%) saturate(378%) hue-rotate(175deg) brightness(99%) contrast(90%)
}

