footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #059669;
    margin-top: 50px;
    margin-bottom: 50px;
}
ul {
    list-style: none;
    padding: 0;
    padding-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

