header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header a {
    text-decoration: none;
    color: black;
}
header nav div.active {
    text-decoration: underline;
    text-decoration-color: #059669;
    text-decoration-thickness: 2px;
}
header h1.name {
    font-size: 24px;
    font-weight: 600;
    color: #059669
}
header button.lightSwitch {

}
nav {
    display: flex;
}
nav div {
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    transition-duration: .2s;
    font-size: 16px;
    font-weight: 500;
    color: #52525b;
}
nav div:hover {
    background-color: #e5e7eb;

}

@media (width <= 1000px) {

}
@media (width <=600px) {

}