header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header a {
    text-decoration: none;
    color: black;
}
header nav div.active {
    color: #059669;
}
header h1.name {
    font-size: 24px;
    font-weight: 600;
    color: #059669;
}
header img {
    height: 28px;
}
header button.lightSwitch {
    border: 0;
    padding: 3px;
    background-color: white;
}
.darkMode header button.lightSwitch {
    background-color: transparent;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(173deg) brightness(100%) contrast(108%);
}
header button.lightSwitch:hover {
    cursor: pointer;
}
nav {
    display: flex;
}
nav div {
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
    transition-duration: .2s;
    font-size: 16px;
    font-weight: 500;
    color: #525252;
}
.darkMode nav div {
    color: #d4d4d8;
}
nav div:hover {
    background-color: #e5e7eb;

}
.darkMode nav div:hover {
    background-color: #404040;
}

@media (width <= 1000px) {

}
@media (width <=600px) {

}